<article ng-switch on="aliveCount()" class="alert">
    <p ng-switch-when="1">
      There is only one player left. The game is finished!
      <br/>
      Congratulations
      <span ng-repeat="player in players | alive">
        {{player.name}}
      </span>!
    </p>
    <p ng-switch-when="2">
      There are only two players left! Who will win?
    </p>
    <p ng-switch-default>
      There are currently
      <span>{{aliveCount()}} players</span>
      alive out of
      <span>{{players.length}} players.</span>
    </p>
</article>

<article>
  <h1>Recent Murders</h1>

  <form class="form-inline">
		<label>
			Show the
			<input type="number" size="3" ng-model="murderLimit" ng-init="murderLimit=10" class="form-control">
			most recent murders.
		</label>
	</form>

  <table id="murderList" class="table table-striped">
		<tbody>
			<tr ng-repeat="murder in murders | orderBy:'datetime':'true' |limitTo:murderLimit" class="flexbox flex-children">
				 <td><img src="images/icons/user.png"/>{{murder.murderer}}</td>
				 <td class="killIcon"><img ng-src="images/icons/{{murder.killIcon}}"/></td>
				 <td><img src="images/icons/skull.png"/>{{murder.victim}}</td>
				 <td><img src="images/icons/google_maps.png"/>{{murder.loc}}</td>
				 <td><img src="images/icons/clock.png"/>{{murder.datetime | date:'medium'}}</td>
			</tr>
		</tbody>
  </table>
</article>
