<h2>Lodge a kill</h2>
<p>Enter in the details for your kill. Note that your kill will not appear immediately, one of the tutors running the game must verify it first.</p>

<form name="lodgeKill" ng-submit="submitKill()">
  <div>
    <p>
      <label for="murderer">Murderer's name</label>
      <select name="murderer" ng-model="murderer" required>
        <option ng-repeat="player in players | orderBy:'name'">{{player.name}}</option>
      </select>
    </p>

    <p>
      <label for="victim">Victim's name</label>
      <select name="victim" ng-model="victim" required>
        <option ng-repeat="player in players | orderBy:'name'">{{player.name}}</option>
      </select>
    </p>

    <p>
      <label for="date time">Date and time of the kill</label>
      <input name="date" type="date" ng-model="date" ng-change="updateDatetime()" required>
      <input name="time" type="text" ng-model="time" ng-change="updateDatetime()" required>
    </p>

    <p>
      <label for="location">Location of the kill</label>
      <input name="loc" type="text" ng-model="loc" required>
    </p>
    <div ng-include src="'murderlocation.html'"></div>
  </div>

  <div>
    <h3>Extra kill data</h3>
    <p>
      <label for="killIcon">Kill Icon</label>
      <select name="killIcon" ng-model="killIcon" ng-init="killIcon='delete.png'">
        <option ng-repeat="icon in killIcons">{{icon}}</option>
      </select>
      <img ng-src="images/icons/{{killIcon}}"/>
    </p>
    <p>
      <label for="witnesses">Number of people near the murder scene</label>
      <input name="witnesses" type="text" ng-model="witnesses">
    </p>

    <p>
      <label for="activity">Activity the victim was engaged in at time of death</label>
      <input name="activity" type="text" ng-model="activity">
    </p>

    <p>
      <label for="comment">Comment</label>
      <textarea name="comment" type="text" ng-model="comment"></textarea>
    </p>

    <p>
      <input type="submit" value="Lodge Kill" class="btn btn-primary">
      <input type="submit" value="Lodge Kill and return" ng-click="returnHome()" class="btn">
    </p>

    <h4 ng-show="lodgedKills.length">Lodged Kills</h4>
    <ul>
      <li ng-repeat="kill in lodgedKills">
     {{kill.murderer}} killed {{kill.victim}} on {{kill.datetime | date:'fullDate'}} {{kill.datetime | date:'mediumTime'}} at {{kill.loc}}
      </li>
    </ul>
  </div>
</form>
