<div id="murderTime" class="row">
	<div class="col-lg-4 input-group">
		<span class="input-group-btn">
			<button ng-disabled="playing" ng-click="playing=true; play(murders[0].datetime, murders[murders.length-1].datetime, true)" class="btn btn-success">&#8634; &#9654;</button>
			<button ng-hide="playing" ng-disabled="datetime>murders[murders.length-1].datetime" ng-click="playing=true; play(datetime, murders[murders.length-1].datetime)" class="btn">&#9654;</button>
			<button ng-show="playing" ng-click="playing=false" class="btn btn-danger">&#10074;&#10074;</button>
		</span>

		<select name="speed" ng-model="speed" class="form-control">
			<option value="1800">30 minutes</option>
			<option value="3600">An hour</option>
			<option value="7200">Two hours</option>
			<option value="43200">12 hours</option>
			<option value="86400">1 day</option>
		</select>
		<label class="input-group-addon">per second</label>
	</div>

	<div class="col-lg-5">
		<div class="progress" ng-class="{active: playing, 'progress-striped': playing}">
			<div class="progress-bar" style="width: {{ progress * 100 }}%;"></div>
		</div>
	</div>

	<div class="col-lg-2 input-group">
		<input type="date" ng-model="date" ng-change="updateTime()" size="10" class="form-control">
		<input type="text" ng-model="time" ng-change="updateTime()" size="5" class="form-control">
	</div>
</div>
