<div id="murderTime">
	<form class="form-inline">
		<input type="date" ng-model="date" ng-change="updateTime()" size="10" class="form-control">
		<input type="text" ng-model="time" ng-change="updateTime()" size="5" class="form-control">
		<label>Speed (seconds per second): </label><input type="number" ng-model="speed" size="6" class="form-control">
		<input type="button" ng-hide="playing" value="Play from start to end" ng-click="playing=true; play(murders[0].datetime, murders[murders.length-1].datetime)" class="btn btn-success">
		<input type="button" ng-hide="playing" value="Continue" ng-click="playing=true; play(datetime, murders[murders.length-1].datetime)" class="btn">
		<input type="button" ng-show="playing" value="Stop" ng-click="playing=false" class="btn btn-danger">
	</form>
</div>
