<style>
  .node {
    stroke: #fff;
    stroke-width: 2px;
  }

  .link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 2;
    marker-end: url(#triangle);
  }

  .node.alive { stroke: #43E861; }
  .node.dead { stroke: #F53340; }
  
</style>

<div id="murderGraph" murder-graph murders="murders | murderBefore:datetime" players="players"></div>

<div class="flexbox flex-children">
  <p><input type="checkbox" ng-model="showAlive" ng-init="showAlive=false"></input> Show Alive Names</p>
  <p><input type="checkbox" ng-model="showDead" ng-init="showDead=false"></input> Show Dead Names</p>
</div>

<div murder-time update="updateGraph"></div>

<ul>
  <li ng-repeat="murder in murders | murderBefore:datetime">
     {{murder.murderer}} killed {{murder.victim}} on {{murder.datetime | date:'fullDate'}} {{murder.datetime | date:'mediumTime'}}
  </li>
</ul>

