<h2>Murder Map</h2>

<div id="map_canvas" murder-map murders="murders | murderBefore:datetime" class="map"></div>

<div class="flexbox flex-children">
  <p><input type="checkbox" ng-model="showMarkers" ng-init="showMarkers=true"></input> Show markers</p>
  <p><input type="checkbox" ng-model="showHeatmap" ng-init="showHeatmap=false"></input> Show heat map</p>
  <p><input type="checkbox" ng-model="showIcons" ng-init="showIcons=false"></input> Show custom icons</p>
</div>

<div murder-time></div>

<ul>
  <li ng-repeat="murder in murders | murderBefore:datetime">
     {{murder.murderer}} killed {{murder.victim}} on {{murder.datetime | date:'fullDate'}} {{murder.datetime | date:'mediumTime'}}
  </li>
</ul>
